version: 2.1
commands:
  robot:
    parameters:
      directory:
        type: string
    steps:
      - run:
          name: run tests
          command: |
            <<parameters.directory>>/run-test --loglevel=trace \
                --xunit=robot.xml --removekeywords WUKS
      - run:
          name: Clean up unneeded files
          command: |
            find <<parameters.directory>>/output -depth -name pabot_results \
                -type d -exec rm -r '{}' ';'
            find <<parameters.directory>>/output -depth -name __pycache__ \
                -type d -exec rm -r '{}' ';'
          when: always
      - store_artifacts:
          path: <<parameters.directory>>/output
      - store_test_results:
          path: <<parameters.directory>>/output/robot.xml

jobs:
  appdaemon-unit-test:
    docker:
      - image: ppodgorsek/robot-framework:latest
    steps:
      - checkout
      - robot:
          directory: test/AppDaemonUnitTest

  appdaemon-integration-test:
    docker:
      - image: kangirigungi/home-assistant-config-test:latest
    environment:
      - HASS_PATH: /homeassistant
      - APPDAEMON_PATH: /appdaemon
    steps:
      - checkout
      - run:
          command: git submodule update --init --recursive
      - robot:
          directory: test/AppDaemonIntegrationTest

workflows:
  version: 2
  test:
    jobs:
      - appdaemon-unit-test
      - appdaemon-integration-test
