homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret latitude
  longitude: !secret longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret elevation
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Budapest
  country: HU
  customize: !include customize.yaml
  allowlist_external_dirs:
    - /tmp

# Enables the frontend
frontend:

# Enables configuration UI
config:

homeassistant_alerts:

http:
    use_x_forwarded_for: true
    trusted_proxies:
      - 127.0.0.1
      - ::1

lovelace:
  mode: yaml

mobile_app:

system_health:

sun:

zone:
  - name: Home
    latitude: !secret latitude
    longitude: !secret longitude
    radius: 150
    icon: mdi:home

recorder:
  auto_purge: true
  purge_keep_days: 14
  db_url: !secret db_location
  exclude:
    domains:
      - group

# Enables support for tracking state changes over time.
history:

# View all events in a logbook
logbook:
  exclude:
    domains:
      - group

alert: !include alert.yaml
automation: !include automations.yaml
input_boolean: !include input_boolean.yaml
input_select: !include input_select.yaml
mqtt: !include mqtt.yaml
script: !include script.yaml

command_line:
  - sensor:
      name: cpu_temperature
      command: "cat /sys/class/thermal/thermal_zone0/temp"
      # If errors occur, make sure configuration file is encoded as UTF-8
      unit_of_measurement: "°C"
      value_template: "{{ value | multiply(0.001) }}"
      scan_interval: 10
      device_class: temperature
  - sensor:
      name: free_space
      command: "df -B 1 / | tail -n1 | awk '{print $4}'"
      unit_of_measurement: "B"
      scan_interval: 60
      device_class: data_size
  - sensor:
      name: free_space_data
      command: "df -B 1 /data | tail -n1 | awk '{print $4}'"
      unit_of_measurement: "B"
      scan_interval: 60
      device_class: data_size
  - binary_sensor:
      command: 'timeout 2 nc localhost 6131 </dev/null && echo ON || echo OFF'
      name: ssh_tunnel_available
  - binary_sensor:
      command: !secret printer_command
      name: cups_available
  - notify:
      name: restart_cups
      command: !secret restart_cups_command
  - notify:
      name: restart_upsd
      command: !secret restart_upsd_command
  - notify:
      name: camera1_sync
      command: !secret camera1_sync_command
      command_timeout: 60
  - notify:
      name: camera2_sync
      command: !secret camera2_sync_command
      command_timeout: 60

sensor:
  - platform: time_date
    display_options:
      - 'date'
      - 'time'
      - 'date_time'

binary_sensor:
  - platform: tod
    name: Night
    after: sunset
    after_offset: 00:10
    before: sunrise
    before_offset: -00:10

climate:
  - platform: generic_thermostat
    name: heater
    heater: switch.heater
    target_sensor: sensor.heater_check2
    min_temp: 11.5
    max_temp: 25
    ac_mode: false
    cold_tolerance: 1.0
    hot_tolerance: 1.0
    min_cycle_duration:
      minutes: 15
    keep_alive:
      seconds: 15
    away_temp: 11.5
    precision: 0.5

template:
  - binary_sensor:
    - name: presence_home
      state: >
        {{ is_state('input_select.presence_mode', 'home') }}
  - binary_sensor:
    - name: presence_sleep
      state: >
        {{ is_state('input_select.presence_mode', 'sleep') }}
  - binary_sensor:
    - name: presence_away
      state: >
        {{ is_state('input_select.presence_mode', 'away') }}

  - binary_sensor:
    - name: climate_off
      state: >
        {{ is_state('input_select.climate_mode', 'off') }}
  - binary_sensor:
    - name: climate_auto
      state: >
        {{ is_state('input_select.climate_mode', 'auto') }}
  - binary_sensor:
    - name: climate_heat_up
      state: >
        {{ is_state('input_select.climate_mode', 'heat_up') }}
  - binary_sensor:
    - name: climate_keep_warm
      state: >
        {{ is_state('input_select.climate_mode', 'keep_warm') }}
  - binary_sensor:
    - name: living_room_climate_silence
      state: >
        {{ is_state_attr('climate.daikin_living_room', 'fan_mode', 'Silence') }}
  - binary_sensor:
    - name: bedroom_climate_silence
      state: >
        {{ is_state_attr('climate.daikin_bedroom', 'fan_mode', 'Silence') }}
  - binary_sensor:
    - name: low_free_space
      state: >
        {{ (states('sensor.free_space') | float) < 10 * 1024 * 1024 * 1024 }}
  - binary_sensor:
    - name: low_free_space_data
      state: >
        {{ (states('sensor.free_space_data') | float) < 10 * 1024 * 1024 * 1024 }}


input_number:
  sprinkler_cellar_day:
    name: "Pince locsolás napja"
    min: 0
    max: 28
    icon: mdi:calendar
  heater_temperature_normal:
    name: "Fűtés hőmérséklet"
    min: 10
    max: 25
    icon: mdi:thermostat

mqtt_statestream:
  base_topic: home
  include:
    domains:
      - input_select
      - sensor
      - binary_sensor
      - switch

influxdb:
  host: localhost
  port: 8086
  username: !secret influxdb_username
  password: !secret influxdb_password
  database: !secret influxdb_database

notify:
  - name: telegram_alert
    platform: telegram
    chat_id: !secret telegram_chat_id

stream:
  ll_hls: true
